[Unit]
Description=Hello World Service
After=systend-user-sessions.service

[Service]
Type=simple
ExecStart=/home/estergema/Documents/SOPES1/so1_actividades_201212919/actividad4/sample.sh